In [14]:
# For this practical example we will need the following libraries and modules
import numpy as np
import pandas as pd

In [15]:
# Load the data from a .csv in the same folder
raw_data = pd.read_csv('1269.csv')

# Let's explore the top 5 rows of the df
raw_data.head()

,vin,fleet,positionid,vehicleid,gtpdriverid,version,heading,latitude,longitude,altitude,...,total_engine_hours,total_distance,time_sweetspot,time_idle,time_pto,time_drive,speed,msg_trigger_type,current_fuel_level,received_date
0,MC2M7SRC0HJ051269,Syndicate_Carrier,1249995325,14575,NaN,0,0,18.485618,73.867197,587,...,4009.60,149317.75,1877.45,404.69,0,3603.95,0,PERIODIC,17.200001,01:38.5
1,MC2M7SRC0HJ051269,Syndicate_Carrier,1249995326,14575,NaN,0,0,18.485618,73.867197,587,...,4009.60,149317.75,1877.45,404.69,0,3603.95,0,IGNITION_ON,17.600000,01:38.5
2,MC2M7SRC0HJ051269,Syndicate_Carrier,1249999181,14575,NaN,0,78,18.485971,73.867365,584,...,4009.65,149317.86,1877.45,404.72,0,3603.95,5,PERIODIC,16.400000,04:47.1
3,MC2M7SRC0HJ051269,Syndicate_Carrier,1250003880,14575,NaN,0,0,18.485908,73.867269,581,...,4009.75,149317.92,1877.45,404.77,0,3604.00,0,IGNITION_OFF,17.200001,08:28.7
4,MC2M7SRC0HJ051269,Syndicate_Carrier,1250005442,14575,NaN,0,0,18.485906,73.867265,583,...,4009.75,149317.92,1877.45,404.77,0,3604.00,0,PERIODIC,17.200001,09:45.7

In [16]:
raw_data.describe(include='all')

,vin,fleet,positionid,vehicleid,gtpdriverid,version,heading,latitude,longitude,altitude,...,total_engine_hours,total_distance,time_sweetspot,time_idle,time_pto,time_drive,speed,msg_trigger_type,current_fuel_level,received_date
count,13502,13502,1.350200e+04,13502.0,0.0,13502.0,13502.000000,13502.000000,13502.000000,13502.000000,...,13502.000000,13502.000000,13502.000000,13502.000000,13502.0,13502.000000,13502.000000,13502,13502.000000,13502
unique,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN,4248
top,MC2M7SRC0HJ051269,Syndicate_Carrier,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PERIODIC,NaN,54:07.6
freq,13502,13502,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9717,NaN,43
mean,NaN,NaN,1.310710e+09,14575.0,NaN,0.0,63.211080,23.595784,75.311849,412.313879,...,4164.468653,153926.067539,1929.271089,431.752984,0.0,3732.039653,12.220412,NaN,37.159976,NaN
std,NaN,NaN,3.614535e+07,0.0,NaN,0.0,105.320634,4.048001,1.198499,165.095945,...,109.831859,3136.060631,36.903583,18.568697,0.0,85.545590,19.643350,NaN,23.832568,NaN
min,NaN,NaN,1.249995e+09,14575.0,NaN,0.0,0.000000,16.838437,73.699981,146.000000,...,0.000000,149317.750000,1877.450000,404.690000,0.0,3603.950000,0.000000,NaN,0.000000,NaN
25%,NaN,NaN,1.282467e+09,14575.0,NaN,0.0,0.000000,19.188856,74.457702,208.000000,...,4064.300000,151046.550000,1893.950000,413.290000,0.0,3650.000000,0.000000,NaN,18.000000,NaN
50%,NaN,NaN,1.309455e+09,14575.0,NaN,0.0,0.000000,23.592519,74.959014,442.000000,...,4160.550000,153534.360000,1924.350000,431.790000,0.0,3727.825000,0.000000,NaN,32.000000,NaN
75%,NaN,NaN,1.340617e+09,14575.0,NaN,0.0,116.000000,28.057274,76.535684,564.000000,...,4256.350000,156518.560000,1958.950000,449.250000,0.0,3806.050000,26.000000,NaN,51.200001,NaN
max,NaN,NaN,1.380476e+09,14575.0,NaN,0.0,359.000000,28.841231,77.334931,879.000000,...,4344.150000,159679.170000,1998.300000,459.960000,0.0,3883.100000,80.000000,NaN,100.000000,NaN

In [17]:
# Average Speed/Drive time/Fuel consumed and Total Trips taken by vehicles in that cluster.
#let us analyze from above the average of all is the mean given
#we need data of only speed drive time and fuel consumed and total distance

In [18]:
data=raw_data[['speed','time_drive','total_fuel_consumption','total_distance']]

In [19]:
data.head()

   speed  time_drive  total_fuel_consumption  total_distance
0      0     3603.95                39821.68       149317.75
1      0     3603.95                39821.69       149317.75
2      5     3603.95                39821.88       149317.86
3      0     3604.00                39822.01       149317.92
4      0     3604.00                39822.01       149317.92

In [20]:
data.describe()

              speed    time_drive  total_fuel_consumption  total_distance
count  13502.000000  13502.000000            13502.000000    13502.000000
mean      12.220412   3732.039653            41121.503448   153926.067539
std       19.643350     85.545590              934.130254     3136.060631
min        0.000000   3603.950000                0.000000   149317.750000
25%        0.000000   3650.000000            40321.100000   151046.550000
50%        0.000000   3727.825000            41052.795000   153534.360000
75%       26.000000   3806.050000            41845.950000   156518.560000
max       80.000000   3883.100000            42726.410000   159679.170000

let's analyze

In [21]:
#Average speed is mean in the table

12.220412

12.220412

In [22]:
#Average drive time

3732.039653

3732.039653

In [23]:
#Average fuel consumed

41121.503448

41121.503448

In [24]:
#total trips